.priceMassage-title {
    text-align: center;
    text-transform: uppercase;
    color: var(--violet);
    margin: 60px 0;
}

.priceMassage-card {
    width: 90%;
    height: 40vh;
    position: relative;
    margin: 30px auto;
}

.priceMassage-img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    object-fit: cover;
    border-radius: 20px;
}

.priceMassage-overlay {
    width: 90%;
    position: absolute;
    z-index: 3;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    border-radius: 15px;
    padding: 10px;
    color: var(--white);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.priceMassage-title-card {
    text-align: center;
    color: var(--violet);
}

.priceMassage-info-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.priceMassage-card-special {
    height: 125vh;
}

.priceMassage-info-special {
    width: 30%;
}

.priceMassage-line {
    text-align: center;
    text-decoration-line: line-through; 
    text-decoration-color: var(--rosePale); 
    text-decoration-thickness: 3px;
    text-decoration-style: solid; 
    text-decoration-skip-ink: auto;
}

.priceMassage-color {
    text-align: end;
    color: var(--rosePale);
}

@media screen and (min-width: 1024px) {
  .priceMassage-container {
    display: flex;
    flex-wrap: wrap;
  }

  .priceMassage-title {
    width: 100%;
  }

  .priceMassage-card {
    width: 30%;
  }

  .priceMassage-card-special {
    width: 90%;
  }
}