.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fde0f2;
}

.footer-contact-container {
    width: 90%;
    margin: auto;
    padding: 10px;
    color: var(--black);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    width: 90px;
    margin-top: 10px;
}

.footer-small {
    width: 90%;
    margin: auto;
    padding: 10px;
    text-align: center;
    color: var(--black);
}

.footer-contact {
  text-decoration: none;
  color:  var(--black);
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

.item{
  margin-top: 50px;
}

.item a {
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  overflow: hidden;
  border: 3px solid var(--black);
  position: relative;
}

.item a::before {
  content: "";
  position: absolute;
  background: var(--bg);
  width: 100%;
  height: 100%;
  z-index: 1;
  scale: 1 0;
  transform-origin: bottom;
  transition: scale 500ms ease;
}

.item:hover a::before {
  scale: 1 1;
}

.icon {
  font-size: 2rem;
  color: var(--black);
  transition: 500ms ease;
  z-index: 2;
}

.item a:hover .icon {
  color: var(--white);
  transform: rotate(360deg);
}

.item:nth-child(1) {
  --bg: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
}




@media screen and (min-width: 1024px) {
  .footer {
    padding-top: 50px;
  }
  
  .footer-contact-container{
    flex-direction: row;
    justify-content: space-around;
  }
  
  .footer-pointer {
    cursor: pointer;
  }

  .item {
    margin-top: 0;
  }
}