.overlay-container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.overlay-image {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    object-fit: cover;
}

.overlay-gradient {
    width: 90%;
    position: absolute;
    z-index: 3;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    border-radius: 15px;
    padding: 10px;
    color: var(--white);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay-title {
    font-family: var(--titleFont);
    font-size: var(--desktoph2);
    line-height: var(--lineHeighth2);
    text-align: center;
}

.overlay-text {
    font-family: var(--textFont);
    font-size: var(--mobileBody);
    line-height: var(--lineHeightBody);
    text-align: center;
}

@media screen and (min-width: 1024px) {
  .overlay-container {
    height: 117vh;
  }

  .overlay-gradient {
    top: 76%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}