.present-section {
    background: var(--white);
    padding: 50px 0;
}

.present-title {
    text-align: center;
    text-transform: uppercase;
    color: var(--violet);
}

.present-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.present-img {
    width: 50%;
    border-radius: 50%;
}

.present-text {
    text-align: center;
}

.present-text span {
    color: var(--roseFonce);
    font-weight: 600;
}

hr {
    width: 60%;
    height: 2px;
    background-color: var(--roseFonce);
    border: none;
}

@media screen and (min-width: 1024px) {
  .present-img {
    width: 25%;
  }
}